*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
.img-div img{
  height: 35vh;
}
.item1{
  height:30vh ;
  background-color: #e4e9f1;
  /* margin-left: -10px; */
  margin:auto ;
  border-radius: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}